{% extends "base.html.twig" %}

{% block title %}
Création d'une catégory
{% endblock %}

{% block body %}
<h1>Nouveaux catégorie</h1>

{{ form_start(formView) }}

{{ form_errors(formView)}}

<div class="row">
    <div class="col">
        {{ form_row(formView.name) }}
    </div>
</div>

<button type="submit" class="btn btn-primary mt-3">
    <i class="fas fa-save"> Créer la catégorie</i>
</button>
{% endblock %}